body {
  margin: 0;
  padding: 0;
  background-color: #000000;
  color: white;
}

@font-face {
  font-family: 'trajan';
  src: url(../font/Trajan-Pro-Bold/Trajan\ Pro\ Bold.ttf)
}

@font-face {
  font-family: 'poppins-topico';
  src: url(../font/Poppins/Poppins-Medium.ttf);
}

@font-face {
  font-family: 'poppins';
  src: url(../font/Poppins/Poppins-Regular.ttf);
}

img:hover {
  cursor: pointer;
}

.header {
  display: flex;
  height: 140px;
  width: 100%;
  border-bottom: 1px solid #909090;
}

.container {
  display: flex;
  height: 661px;
  justify-content: center;
}

h2 {
  font-family: 'trajan';
  font-size: 40px;
  margin-bottom: 50px;
}

input {
  display: flex;
  font-family: 'poppins';
  height: 30px;
  width: 100%;
  background-color: transparent;
  color: white;
  border: 1px solid #d3d3d3;
  border-radius: 10px;
  padding-left: 8px;
}

.senhas {
  display: flex;
  flex-direction: row;
}

.senhas input {
  display: flex;
  height: 30px;
}

.check {
  margin-top: 5px;
  margin-left: 10px;
}

a {
  text-decoration: none;
}

.botao {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 45px;
  width: 150px;
  margin-top: 20px;
  margin-left: 10px;
  background-color: #000000;
  border: 2px solid #909090;
  border-radius: 15px;
  font-size: 20px;
  font-family: 'poppins';
  color: white;
  margin-left: 115px;
}

.card-cadastro {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}

.formulario {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: 'poppins';
}

.campo {
  padding: 10px;
}

.footer {
  background-color: #000717;
  height: 150px;
  color: #fff;
  display: flex;
  border-top: 1px solid #909090;
  font-family: 'poppins';
  flex-direction: column;
}

.container6 {
  display: flex;
  flex-direction: row;
  margin-top: 25px;
}

.footer .contato {
  justify-content: center;
  text-align: center;
  font-size: 20px;
  margin-left: 250px;
}

.footer .email {
  justify-content: center;
  text-align: center;
  font-size: 20px;
  margin-left: 250px;
  margin-right: 250px;
}

.footer .telefone {
  justify-content: center;
  text-align: center;
  font-size: 20px;
  margin-right: 250px;
}

.footer .mensagem {
  justify-content: center;
  text-align: center;
  font-size: 15px;
  margin-top: 50px;
}